<!DOCTYPE html>
<html>
<head>
  <title>Zerista</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="center container">
  <h4>Zerista</h4>
  <%= link_to "Tuesday", tuesday_path %>
  <%= link_to "Wednesday", wednesday_path %>
  <%= yield %>
</div>

</body>
</html>
